.card{
    cursor: pointer;
    position: relative;    

    img{
        object-fit: cover;
        z-index: 15;
    }

    .card-body{
        $font-size-cart-title: 16px;
        $font-size-cart: 14px;
        font-size: $font-size-cart;
        font-weight: 700;
        margin-bottom: 20px;
        overflow: hidden;

        @media only screen and (max-width: 768px) {
            $font-size-cart-title: 14px;
            $font-size-cart: 12px;
        }

        @media only screen and (min-width: 769px) {
            $font-size-cart-title: 16px;
            $font-size-cart: 14px
        }

        &__title{
            font-size: $font-size-cart-title;
        }

        &__price{
            transition-property: font-size;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
            position: absolute;
            z-index: 10;
            margin-bottom: 20px;
            width: 100%;
            left: 0;
            font-size: $font-size-cart;
        }

        &__cart{
            font-weight: bold;
            transition-property: font-size;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
            position: absolute;
            width: 100%;
            text-align: center;
            left: 0;
            font-size: 0px;
        }

    }

    &:hover{
        .card-body__price{
            font-size: 0px;
        }

        .card-body__cart{
            font-size: 14px;
        }
    }
}

.multiLineLabel {
    display: inline-block;
    box-sizing: border-box;
    white-space: pre-line;
    word-wrap: break-word;

    .textMaxLine {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
  }
