.changePassword{
    padding: 10px 70px 0;

    &__top{
        border-bottom: .3px rgb(220, 211, 211) solid;
        margin-bottom: 30px;

        &__title{
            font-size: 18px;
        }

        &__text{
            font-size: 13px;
            opacity: 0.9;
            margin-top: -15px;
        }
    }

    &__content{
        label{
            opacity: 0.5;
            text-align: end;
        }
    
        .save-form{
            
            button{
                padding: 10px 20px;
                background-color: #BE8C63;
                border: none;
                border-radius: 0;
            }
        }
    
        .text-userName{
            display: flex;
            align-items: center;
        }
    }
}