.price_range{
    width: 100%;
    margin: 20px 0;

    display: flex;
    justify-content: center;

    input{
        width: 100px;
        padding: 5px 10px;
        border: .5px rgb(190, 188, 188) solid;
        text-align: center;
    }

    hr{
        width: 20px;
    }

    div{
        & > span {
            color: #BE8C63;
        }
    }
}