@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 100%;
    height: auto;
    border: none !important;
    border-radius: 0px !important;
    margin-bottom: 30px;
    padding: 0 50px;
    
    .row{
        width: 100%;
    }

    &__img{
        @include center;
        position: relative;
        width: 100%;
        z-index: 2;

        img{
            width: 100% !important;
            height: auto;
        }
    
        .promotion{
            background-color: rgb(220, 176, 93);
            padding: 3px 7px;
            width: fit-content;
            position: absolute;
            top: 10px;
            right: 10px;
            color: white;
            font-weight: bold;
        }
    }

    &__body{
        
        &__info{
            border-radius: 0px !important;
            $font-size-name: 18px;

            @media only screen and (max-width: 768px) {
                $font-size-name: 16px;
            }

            @media only screen and (max-width: 768px) {
                $font-size-name: 18px;
            }

            .product-title{
                font-size: $font-size-name;
            }
    
            .price{
    
                .origin-price{
                    text-decoration: line-through;
                }
    
                .promotion-price{
                    font-size: 20px;
                }
    
                .label-deal{
                    background-color: orange;
                    padding: 3px 5px;
                    color: white;
                    text-transform: uppercase;
                    font-weight: 500;
                }
            }

            .attribute_pa_tone-mau{
                width: 260px;
                padding: 5px 15px;
                border: 1px rgb(116, 113, 113) solid;
                color: grey;
            }

            &__cart{
                width: 100% !important;
                margin-top: 20px;
                
                .quantity{
                    @include center;
                    padding-left: 0px;
                    height: 100%;

                    .input-group{
                        width: 180px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        $color:rgb(250, 174, 34);

                        input{
                            width: 20px;
                            border: none;
                            font-size: 14px;
                            text-align: center;
                        }

                        .input-group-prepend{
                            display: inline;
                            
                            button{
                                border: none;
                                cursor: pointer;
                                width: 28px;
                                height: 28px;
                                line-height: 28px;
                                border-radius: 100%;
                                background-color: $color;
                                font-size: 16px;
                                font-weight: 700;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transition: 0.2s;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                            }
                        }
                        .input-group-append{
                            display: inline;

                            button{
                                border: none;
                                cursor: pointer;
                                width: 28px;
                                height: 28px;
                                line-height: 28px;
                                border-radius: 100%;
                                background-color: $color;
                                font-size: 16px;
                                font-weight: 700;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transition: 0.2s;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                            }
                        }
                    }
                }

                .inventory{
                    @include center;
                    color: grey;
                    font-weight: 500;
                    display: flex;
                    justify-content: start !important;
                }
    
                .add-to-cart{
                    @include center;
                    $color:orangered;
                    width: fit-content;
                    float: left;
                    padding: 5px 15px;
                    height: 100%;
                    color: $color;
                    border: .5px $color solid;
                    border-radius: 0;
                    background-color: rgb(255, 232, 215);

                    &:hover{
                        opacity: 0.7;
                        background-color: rgb(255, 232, 215);
                        color: $color;
                        border: .5px $color solid;
                    }

                    &:disabled{
                        background-color: rgb(255, 232, 215);
                        color: $color;
                        border: .5px $color solid;
                    }
                  }
                }

                .buy-now{
                    @include center;
                    width: fit-content;
                    float: left;
                    $color:orangered;
                    background-color: $color;
                    color: white;
                    padding: 5px 15px;
                    border: .5px $color solid;
                    border-radius: 0;
                    height: 100%;

                    &:hover, &:disabled{
                        opacity: 0.7;
                        background-color: orangered;
                        border: .5px $color solid;
                        color: white;
                    }
                }
            }

        .call-order{
            color: rgb(81, 69, 69);
        }
    }
}