.admin-login-wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    max-width: 760px;
    margin: 0 auto;
    $theme-color: #e05e44;

    @media only screen and (max-width: 800px){
        height: auto;
        flex-direction: column;
    }

    &:before {
        content: "";
        display: block;
        position: fixed;
        width: 300%;
        height: 100%;
        top: 50%;
        left: 50%;
        border-radius: 100%;
        transform: translateX(-50%) skewY(-8deg);
        background-color: $theme-color;
        z-index: -1;
        -webkit-animation: wave 8s ease-in-out infinite alternate;
        animation: wave 8s ease-in-out infinite alternate;

        @keyframes wave {
            from {top: 80%;}
            to {top: 50%;}
          }
    }   
    .card{
        background-color: #fff;
        box-sizing: border-box;
        width: 360px;
        height: 400px;
        box-shadow: 0 3.2px 2.2px rgb(0 0 0 / 2%), 0 7px 5.4px rgb(0 0 0 / 3%), 0 12.1px 10.1px rgb(0 0 0 / 4%), 0 19.8px 18.1px rgb(0 0 0 / 4%), 0 34.7px 33.8px rgb(0 0 0 / 5%), 0 81px 81px rgb(0 0 0 / 7%);
        border-radius: 30px !important;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;

        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 300px;
            height: 300px;
            border-radius: 100%;
            background-color: $theme-color;
            top: -20%;
            left: -50%;
            z-index: 0;
        }

        .card-header{
            margin: 12px 0;
            position: relative;

            &__logo {
                display: block;
                width: 50px;
            }
        }

        .card-title{
            font-size: 24px;
            font-weight: 700;
            margin: 16px 0;
            position: relative;
        }

        .card-body{
            height: calc(100% - 98px);
            width: 100% !important;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 30px !important;

            .adminLoginForm{
                width: 100%;

                label{
                    float: left;
                    margin-bottom: 10px;
                }

                .err-admin-login{
                    margin-bottom: -10px;
                }
            }

            .btn-admin{
                background-color: $theme-color !important;
                border: $theme-color !important;
                margin-top: 15px;
            }

            .forget-password-admin{
                color: black;

                &:hover{
                    color: $theme-color;
                }
            }
        }
    }
}