html {
    font-size: 14px;
    // font-size: 62.5%;
}

body{
    font-family: inherit, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.is-expanded {
    width: 300px !important;
}

.is-sroll{
    animation-name: scroll-header;
    animation-duration: .3s;
}

@keyframes scroll-header {
    from {height: 0;}
    to {height: auto;}
  }

.header{
    width: 100%;
    background: #fff;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem calc((100vw - 1200px) / 2);
    z-index: 15;    
    $icon_size: 40px;
    position: relative;
    background-color: #fff;

    @media screen and (max-width: 768px){
        $icon_size: 30px;
    }

    &__bars-icon{
        display: none;
        color: #000;
        margin: 0 10px 0 30px;
        font-size: calc($icon_size - 5px);

        @media screen and (max-width: 768px){
            display: block;
            cursor: pointer;
        }
    }

    &__logo{
        color: #000;
        align-items: center;
        text-decoration: none;
        padding: 0 1rem;
        cursor: pointer;

        &:active {
            color: #15cdfc;
        }

        &:hover {
            color: #e66d27;
        }
        
        img{
            height: 100%;
            width: 100%;
        }

        @media screen and (max-width: 768px){
            width: 25vw;
            text-align: center;
        }
        @media screen and (min-width: 768px){
            width: 150px;
        }
    }

    &__search{
        position: relative;
        text-align: center;

        input{
            padding: 15px 40px 15px 15px;
            width: 350px;
            border-radius: 5px;
        }

        &__icon{
            position: absolute;
            color: #000;
            height: 100%;
            width: 30px;
            right: 10px;
            cursor: pointer;

            &:hover{
                color:#a39084
            }
        }

        @media screen and (max-width: 768px){
            display: none;
        }
    }

    &__guest{
        color: rgb(131, 127, 127);
        font-style: italic;
        font-weight: 500;
        cursor: pointer;

        @media screen and (max-width: 768px){
            display: none;
        }

        hr {
            display: none;
        }
        &:hover > hr{
            display: block;
            animation-name: hr;
            font-weight: 500;
            animation-duration: 0.5s;
            animation-fill-mode: ease-in-out;

            @keyframes hr {
                from {width: 0;}
                to {width: 100%;}
              }
        }
    }

    &__user{
        color: rgb(131, 127, 127);
        font-style: italic;
        font-weight: 500;
        cursor: pointer;
        position: relative;

        @media screen and (max-width: 768px){
            display: none;
        }

        &__info {
            display: none;
            position: absolute;
            background: rgba(228, 222, 222, .9);
            list-style: none;
            width: 200px;
            text-align: center;
            padding: 10px 10px;
            border-radius: 15px;
            transform: translateX(-40%);
            animation-name: info;
            animation-duration: 0.3s;
            animation-fill-mode: ease-in-out;
            top: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            @keyframes info {
                from {top: 100px;}
                to {top: 20px;}
              }

            li {
                text-decoration: none;
            }

            li:hover {
                text-decoration: underline;
              }
        }   
        &:hover > &__info{
            display: block;
        }
    }

    &__cart{
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        border-left: rgb(109, 106, 106) .3px solid;
        border-right: rgb(109, 106, 106) .3px solid;
        padding: 0 25px 0 25px;
        text-decoration: none;
        color: #000;

        &:hover{
            color:#cd6c34;
        }

        @media screen and (max-width: 768px){
            border: none;
        }

        &__icon{
            position: relative;

            img{
                width: $icon_size;
                height: $icon_size;
            }
    
            &__count{
                $size: 20px;
                $background-color: #cd6c34;
                position: absolute;
                color: #000000;
                background-color: $background-color;
                border: $background-color 2px solid;
                border-radius: 100%;
                text-align: center;
                font-size: 14px;
                width: $size;
                height: $size;
                bottom: -7px;
                right: 0;
            }

            &__lable{
                margin-left: 5px;

                @media screen and (max-width: 768px){
                    display: none;
                }

                &__total{
                    font-weight: 300;
                    color: rgb(131, 127, 127);
                }

                &__cart{
                    font-weight: 700;
                }
            }
        }    

    }

    &__hotline{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: fit-content;

        @media screen and (max-width: 768px){
            display: none;
        }

        img{
            width: $icon_size;
            height: $icon_size;
        }

        div{
            margin-left: 5px;
        }

    }
}

.sroll-top{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #fff;
    right: 2vw;
    top: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    svg{
        color: #da8642;
    }
}




