.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    font-size: 1em;

    a {
        text-decoration: none;
        color: black;
      }

      &__search{
        position: relative;
        text-align: center;
        background-color: #000;
        padding: 10px;
        width: 100%;

        input{
            padding: 15px 40px 15px 15px;
            width: 100%;
            border-radius: 5px;
        }

        &__icon{
            position: absolute;
            margin-top: -10px;
            color: rgb(131, 130, 130);
            height: 100%;
            width: 30px;
            right: 20px;
            cursor: pointer;
        }
      }

      &__matches{
        width: 100%;
        border-bottom: rgb(228, 226, 226) .3px solid;

        &__search-wrapper{
          padding: 2px 15px;
          border-bottom: rgb(181, 178, 178) 1px solid;

          &__cat-item-search{
            padding: 5px 0;
            color: #000;

            a{
              color: #ed1c24;
              font-size: 1em;
              font-weight: bold;
            }
          }
        }

        &__autocomplete-suggestion{
          // padding: 5px 15px 10px 15px;
          font-size: 1em !important;

          img{
            width: 100%;
            height: 100%;
          }
          &__suggestion-thumb{
            width: 100%;
            height: auto;
          }

          &__suggestion-title{
            

          }

          &__suggestion-price{
          }
        }
      }
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;

    &.visible {
        right: 0;
        bottom: 0;
        opacity: 1;
        transition: opacity 0.4s;
    }
}

