.footer{

    .footer-wrap{
        
        .delivery-section{

            @media only screen and (max-width: 768px) {
                display: none;
            }

            .feature-box{
                padding: 0 15px;
                height: 260px;
                display: flex;
                justify-content: center;
                align-items: center;

                .feature-box__inner{
                    height: 100%;
                    width: 100%;
                    background: #eacda8;

                    .feature-box__icon{
                        font-size: 50px;
                        text-align: center;
                    }

                    .feature-box__content{
                        text-align: center;

                        .sun-delivery-title{
                            text-transform: uppercase;
                        }
                    }
                }
            }
            
        }

        .footer-content{
            background-image: url('../../assets/images/backgrounds/background_footer.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: 15px;
            padding: 0 20%;

            @media only screen and (max-width: 768px) {
                padding: 0 5%;
            }

            .suntory-footer-1wrap{
                text-align: center;
                display: flex;
                justify-content: center;
                text-transform: uppercase;
                color: white;
                font-size: 50px;
                
                img{
                    width: 250px;

                    @media only screen and (max-width: 768px) {
                        width: 200px;
                    }
                }
            }

            .intro-cosmetic{
                margin: auto;
                text-align: center;
                font-weight: 500;
                margin-top: -50px;

                @media only screen and (max-width: 768px) {
                    margin-top: -30px;
                }
            }

            .center-menu{
                margin-top: 15px;
                line-height: 1;
                text-align: center;

                .menu-info{
                    text-transform: uppercase;
                    list-style: none;
                    
                    li{
                        display: inline-block;
                        border-right: 1px solid rgb(53, 52, 52);
                        padding: 0 2%;

                        @media only screen and (max-width: 768px) {
                            display: block;
                            margin-top: 10px;
                            border-right: none;
                        }

                        a{
                            font-weight: 700;
                            color: black;
                            cursor: pointer;
                        }
                        a:hover{
                            opacity: 0.7;
                        }
                    }
                }
            }
                
            
        }
    }
}